* {
    margin :0;
    padding :0;
}

html {
    height: 100%;
    position: relative;
}

body {
    background:rgb(215, 234, 240) !important;
    height: 100%;
    width: 100%;
    position: relative;
}

#page_container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center-vertical {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* Nav Hover Background */
li.nav-item:hover {
    background: #4B4B4B;
}

/* Scroll To Top Button */
.scrollToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    background: rgba(41, 41, 41, 0.7);
    color: #fff;
    display: none;
}

.scrollToTop:hover {
    color: #fff;
    background: rgba(80, 80, 80, 0.7);
}
/* ./Scroll To Top Button */

/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 500px;
    width: 400px;
    box-shadow: 0px 10px 60px rgb(70, 70, 70);
    background-image: radial-gradient(circle, rgb(130, 130, 130), rgb(100, 100, 100));
    border-radius: 1vw;
}

.swiper-details {
    color: #fff;
}

.swiper-details h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}

.swiper-details p {
    font-size: 20px;
    margin-bottom: 10px;
}
/* ./Swiper */

/* Table */
.custom-table {
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw;
    box-shadow: 0px 7px 90px rgb(61, 61, 61);
    margin-bottom: 50px;
    margin-top: 50px;
}

.custom-table .custom-thead {
    background: rgb(71, 71, 71);
}

.custom-table th {
    border-top: 0px;
    font-size: 20px;
    text-decoration: underline;
}

.custom-table th,
.custom-table td {
    padding-left: 20px;
}

.custom-table tr:last-child td {
    border-bottom: 0px;
}

.custom-table td:last-child,
.custom-table thead tr th:last-child {
    border-right: 0px;
}

.custom-table td:first-child,
.custom-table thead tr th:first-child {
    border-left: 0px;
}

.luovutus {
    text-decoration: line-through;
}
/* ./Table */

/* Footer */
#footer {
    position: relative;
    height: 150px;
    margin-top: -150px;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer div#footer_div {
    flex-direction: row;
}

/* Footer Social Buttons */
#social-platforms {
    position:relative;
    font-size:1rem;
    text-align:center;
    overflow:hidden;
}

#social-platforms h3 {
    color: #fff;
}

.btn {
    clear:both;
    white-space:nowrap;
    font-size:.8em;
    display:inline-block;
    border-radius:5px;
    padding: 0px;
    margin:10px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    overflow:hidden
}

.btn:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
    float:left;
    padding:13px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    line-height:1em
}

.btn > span {
    padding:14px 20px 16px;
    white-space:nowrap;
    color:#FFF;
    background:#b8b8b8
}

.btn:focus > span {
    background:#9a9a9a
}

.btn-icon > i {
    border-radius:5px 0 0 5px;
    position:relative;
    width:43px;
    text-align:center;
    font-size:1.25em;
    color:#fff;
    background:#212121
}

.btn-icon > i:after {
    content:"";
    border:8px solid;
    border-color:transparent transparent transparent #222;
    position:absolute;
    top:13px;
    right:-15px
}

.btn-icon:hover > i,
.btn-icon:focus > i {
    color:#FFF
}

.btn-icon > span {
    border-radius:0 5px 5px 0
}

/* Facebook */
.btn-facebook:hover > i,.btn-facebook:focus > i {
    color:#3b5998
}

.btn-facebook > span {
    background:#3b5998
}

/* Instagram */
.btn-Instagram:hover > i,.btn-Instagram:focus > i {
    color:#e4405f
}

.btn-Instagram > span {
    background:#e4405f
}
/* ./Footer Social Buttons */
/* ./Footer */

/* Media */
@media (max-width:1300px){
    .swiper-details h2 {
        font-size: 20px;
    }

    .swiper-details p {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media (max-width:970px){
    .swiper-slide {
        height: 400px;
    }

    .swiper-details h2 {
        font-size: 17px;
    }

    .swiper-details p {
        font-size: 13px;
        margin-bottom: 6px;
    }
}

@media (max-width:767px){
    .swiper-slide {
        height: 300px;
    }

    .swiper-details h2 {
        font-size: 11px;
    }

    .swiper-details p {
        font-size: 10px;
        margin-bottom: 5px;
    }
}


.gallery{
  width: 70%;
  height: 70%;
  margin: 0 auto;
  display: flex;
}
.sarake{
  width: 50%;
  display: flex;
  flex-flow: column;
}

.page_header_container> h2{
margin: 10px auto;
}
.padding{
  flex-flow: column;
  align-items: center;
  padding: 60px 0;
}
.sarake img{
  margin-top: 8px;
}
