body {margin:0; background:url(images/body_bg.png) repeat-x #38BACC; font-family:Arial, Helvetica, sans-serif;}

#container {width:950px; margin:0 auto;}

#header {height:95px;}
#logo {float:left; padding:33px 0 0 45px; font-size:32px; font-family:"Comic Sans MS", cursive;}
#logo a {display:block; color:#FFFFFF; text-decoration:none;}
#slogan {float:right-down; padding:3px 45px 0 0; color:#FFFFFF; font-size:18px; text-align:right; font-family:"Comic Sans MS", cursive;}
#slogan2 {float:right-top; padding:3px 45px 0 0; color:#FFFFFF; font-size:30px; text-align:right; font-family:"Comic Sans MS", cursive;}
#header_menu {text-align:center; color:#FFFFFF; font-size:14px; font-weight:bold; height:36px; background:url(images/header_bg.png) no-repeat; padding-top:31px;}
#header_menu a {color:#E91062; text-decoration:none;}
#header_menu a:hover {color:#873916;}

#main {background:url(images/main_bg.png) repeat-y; font-size:14px; line-height:17px; color:#000000; float:left; width:100%;}
#main br {line-height:10px;}
#main a {color:#38BACC;}
#main a:hover {color:#21747F;}
#text {margin:30px 285px 30px 45px; height:650px; }
#text h1 {font-size:28px; font-weight:normal; margin:24px 0 8px 0; color:#3096A8; line-height: 1.25;}
#text h2 {font-size:24px; font-weight:normal; margin:24px 0 8px 0; color:#3096A8;}
#text h3 {font-size:14px; font-weight:bold; margin:32px 0 8px 0;}
#text ol, #main ul {padding:0; margin:10px 0;}
#text li {margin-left:40px;}

#sidebar_yleista {width:180px; float:right; margin:45px 45px 30px 30px; display:inline; background:url(navi_tausta.png); height:191px; font-size:12px; font-weight:normal;}
#sidebar_yleista h3 {font-size:13px; font-weight:normal; margin:24px 0 8px 0; color:#3096A8;}
#sidebar_yleista ul {margin:10px; padding:0px;}
#sidebar_yleista li {list-style:none; padding:0px 0 10px 12px; background:url(images/li.png) 0px 8px no-repeat;}
#sidebar_yleista h2 {font-size:12px; font-weight:normal; margin:12px 0 8px 0; color:#3096A8;}

#sidebar {width:180px; float:right; margin:15px 45px 30px 30px; display:inline;}
#sidebar h3 {font-size:20px; font-weight:normal; margin:24px 0 8px 0; color:#3096A8;}
#sidebar ul {margin:10px; padding:0px;}
#sidebar li {list-style:none; padding:0px 0 10px 12px; background:url(images/li.png) 0px 8px no-repeat;}

#sivuloota {width:180px; float:right; margin:45px 45px 30px 30px; display:inline;}
#sivuloota h3 {font-size:20px; font-weight:normal; margin:24px 0 8px 0; color:#3096A8;}

#footer_menu {height:41px; background:url(images/footer_bg.png) no-repeat; clear:both; text-align:center; color:#E91062; font-size:12px; padding-top:16px;}
#footer_menu a {color:#E91062; text-decoration:none;}
#footer_menu a:hover {color:#E91062;}

#footer {color:#D8F2F4; text-align:center; font-size:10px; margin:2px 0 15px 0;}
#footer a {color:#D8F2F4;}
#footer a:hover {color:#B0E4E8;}
